{% extends 'base.html' %}
{% block content %}

<div class="container">
  <br>
  <br>
    <ul class="collapsible feedback_list">
    {% for feed in feedback %}
    <li>
      <div class="collapsible-header">
          <img class="circle profile tooltipped" data-position="bottom" data-tooltip="{{feed.name}}" src="static/images/profile/{{feed.profileImage}}"/>{{feed.feedbackTitle}} {{feed.fbdate}} </div>
      <div class="collapsible-body"><span>{{feed.feedbacktext}}</span></div>
    </li>
   {% endfor %}
  </ul>


<div class="messages">

      {% with messages = get_flashed_messages() %} {% if messages %}
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}
    </div>}
 </div>   
{% endblock %}