{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div class='col s12'>
   <h1>Help</h1>
   
   <p> The aim of the app is to allow you to give and receive positive feedback with your colleagues.
       You can also award badges and will shortly be able to nominate and vote for employee of the month </p>
      
      <p> The app works on most devices. To add feedback you will need to know the persons name and team. For this
      demo version all teams are set to audit</p>
      
      <ul>
          <li><i class="large material-icons tooltipped"data-position="bottom" data-tooltip="Add Feedback">create</i></li>
          <li> Click this link to add feedback</li>
          <li><i class="large material-icons tooltipped"data-position="bottom" data-tooltip="Add Feedback">book</i></li>
          <li>  Click this link to read feedback</li>
          <li><i class="large material-icons tooltipped"data-position="bottom" data-tooltip="Add Feedback">import_contacts</i></li>
          <li> Click this link to view colleauge info</li>
          <li><i class="large material-icons tooltipped"data-position="bottom" data-tooltip="Add Feedback">insert_emoticon</i></li>
          <li>Click this link to view colleauge info</li>
          <li><i class="large material-icons tooltipped"data-position="bottom" data-tooltip="Add Feedback">home</i>
          <li>Click this link to return to your home page</li>
         <li><i class="large material-icons tooltipped"data-position="bottom" data-tooltip="Add Feedback">face</i></li>
          <li>Click this link to update your profile and the image next to the button to change your profile pic</li>
          
      </ul>

  
</div>

    
</div>
           
{% endblock %}