{% extends 'base.html' %}
{% block content %}



   <div class="container">
	<div class="row buffer">
		<div class="col s12 m5 l5 offset-m1  offset-l1  square"><a href="{{url_for('add_feedback') }}"><i class="large material-icons tooltipped"data-position="bottom" data-tooltip="Add Feedback">create</i></div>
        <div class="col s12 m5 l5 square"><a href="{{url_for('feedback') }}"><i class="large material-icons tooltipped" data-position="bottom" data-tooltip="My Feedback">book</i></a></div>
	</div>
	<div class="row">
		<div class="col s12 m5 l5 offset-m1   offset-l1 square"><a href="{{url_for('badges') }}"><i class="large material-icons tooltipped" data-position="bottom" data-tooltip="Badges">insert_emoticon</i></div>
        <div class="col s12 m5 l5 square square"><a href="{{url_for('mycharts') }}"><i class="large material-icons tooltipped"data-position="bottom" data-tooltip="My Charts">dashboard</i></div>
	</div>
	<div class="row">
		<h5>My Recent Feedback</h5>
	</div>
	<div class="row ">
		<div class="col s3">This Week</div>
			<div class="col s9">x</div>
			<div class="col s3">Last Week</div>
			<div class="col s9">x</div>
				<div class="col s3">This Month</div>
			<div class="col s9"></div>
		
	</div>
	
		<div class="row">
		<h5>My Badges</h5>
	</div>
</div>

 {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
         {% endwith %}  

           
{% endblock %}