<!DOCTYPE html>
<html>

<head>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>rate My Crowd</title>
    <!-- materialize, fontawsome, google fonts and style-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
</head>

<body>
    <!-- full page image using materialize class-->
    <div class="hero-image">

        <div class="hero-text">
            <h1>RATE MY CROWD</h1>
            <!-- dynamic form rendered from flask forms-->
            <form action="" method="post">
                {{ form.hidden_tag() }}
                 {{ form.csrf_token }}
                <div class="input-text">
                    {{ form.email.label }}<br> {{ form.email(size=32) }} {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span> {% endfor %}
                </div>
                <div class="input-text">
                    {{ form.password.label }}<br> {{ form.password(size=32) }} {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span> {% endfor %}
                </div>

                <!-- create user link-->

                <div class="input-submit">
                    <input type="submit" value="Submit" class="button"></div><br>
                <a href="{{ url_for('signup') }}">Not a Member?</a>
               <!-- flashed messages from flask--> 
                <div class="messages">

                    {% with messages = get_flashed_messages() %} {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %} {% endwith %}
                </div>
        </div>

        </form>

    </div>

    </div>


    <!-- jquery and materialise scriptss-->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/javascript.js') }}"></script>
</body>

</html>
