<!DOCTYPE html>
<html>

<head>
    <title></title>
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
</head>

<body>
   	<div class="hero-image">
  <div class="hero-text">
    <h1>RATE MY CROWD</h1>
    
                     <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                
                <div class="col s8 offset s1 form">
                    {{ form.username.label }}<br> {{ form.username(size=32) }}
                </div>
                 <div class="col s8 offset s1 form">
                    {{ form.password.label }}<br> {{ form.password(size=32) }}
                  </div>>
                <div class="col s8 offset s8 form">
                    {{ form.remember_me() }} {{ form.remember_me.label }}
                </div>
                <div class="col s8 offset s8 form">
                    {{ form.submit() }}
                </div>
            </form>
          
  </div>
</div>



 

  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/javascript.js') }}"></script>
</body>

</html>
