{% extends 'base.html' %}
{% block content %}

<div class="container">
 <h1>Upload new File</h1>
    <form method=post enctype=multipart/form-data>
         <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <input type="file" name="file">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" name='profile_image'>
      </div>
    </div> 
        
<div class="input-submit center">
                    <input type="submit" value="upload" class="button_sign"></div><br>
                    </div>
    </form>
    
    
  
</div>
  
</div>
           
{% endblock %}