<!DOCTYPE html>
<html>

<head>
  <title></title>
  <!-- materialize, fontawsome, google fonts and style-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
</head>

<body>
  <!-- full page image using materialize class-->
  <div class="hero-image">

    <div class="hero-text">
      <h1>RATE MY CROWD</h1>

      <div class="container">
        <div class="row">
          <form class="col s12 " action="" method="POST">
            {{ form.hidden_tag() }}
             {{ form.csrf_token }}
            <div class="row">
              <div class="input-field signin col s12 center-align ">
                {{ form.fullname.label }}<br> {{ form.fullname(size=60) }}
              </div>

            </div>


            <div class="row">
              <div class="input-field  signin col s12 l12">
                <!--teamname drop down option from db-->
                <select name='teamie'>
                 {% for team in teamname %}
              
                <option class= 'input-field signin' value="{{team.id}}" id='teamname' name='teamname'>{{team.teamname}}</option>
                 {% endfor %}
             
                </select>

                <label>Teamname</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field signin col s12  l12">
                {{ form.password.label }}<br> {{ form.password(size=32) }}
              </div>
              <div class="input-field signin col s12 l12">
                {{ form.email.label }}<br> {{ form.email(size=32) }}
              </div>
            </div>
            <div class="input-submit center">
              <input type="submit" value="Submit" class="button_sign"></div><br>
            <div class="messages">

              <!--flashed messages-->
              {% with messages = get_flashed_messages() %} {% if messages %}
              <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
              </ul>
              {% endif %} {% endwith %}
            </div>
        </div>
        </form>
      </div>

    </div>
  </div>
  <!-- jquery and materialise scriptss-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/javascript.js') }}"></script>
</body>

</html>
