{% extends 'base.html' %}
{% block content %}
<h1>Sign UP</h1>

  <div class="row">
    <form class="col s12" action="" method="POST">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="firstname" name= 'firstname'type="text" >
          <label for="firstname">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="lastname" name='lastname'type="text" class="validate">
          <label for="lastname">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input disabled value="I am not editable" id="disabled" type="text" class="validate">
          <label for="disabled">Disabled</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" name='password' class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email"  name='email'class="validate">
          <label for="email">Email</label>
        </div>
      </div>
   <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
    </form>
  </div>

{% endblock %}