{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div class="row">
    <form class="col s12" action="" method="POST">
          {{ form.hidden_tag() }}
      <div class="row">
        <div class="input-field col s6">
         {{ form.firstname.label }}<br> {{ form.firstname(size=32) }} 
        </div>
        <div class="input-field col s6">
          {{ form.lastname.label }}<br> {{ form.lastname(size=32) }} 
         
        </div>
      </div>
  
      <div class="row">
        <div class="input-field col s12">
        {{ form.email.label }}<br> {{ form.email(size=32) }}
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
           {{ form.password.label }}<br> {{ form.password(size=32) }}
        </div>
      </div>
 <div class="input-submit center">
                    <input type="submit" value="Submit" class="button_sign"></div><br>
                    </div>
    </form>
  </div>

{% endblock %}